.years {
    display: grid;
    width: 96%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.experienceBlock {
  border: 1px solid #333;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #1a1a1a;
}


